@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #8990ec;
}

#inputTask,
#addBtn,
#clearBtn,
#doneBtn {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  border: #8990ec;
  outline: none;
  background: #272639;
  color: white;
}

ul li {
  background: seagreen;
  padding: 12px;
  list-style-type: none;
  font-size: 18px;
  margin: 30px;
  color: white;
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.remove {
  float: right;
  background-color: chocolate;
  color: white;
  border: none;
  margin-top: 5px;
}

.done {
  float: right;
  color: white;
  background-color: yellowgreen;
  border: none;
  margin-right: 10px;
  margin-top: 5px;
}
